In [1]:
import pandas as pd
import pickle

C:\Users\hp\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\hp\anaconda3\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
C:\Users\hp\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
with open('collab.pkl', "rb") as g:
    loaded_list = pickle.load(g)

In [3]:
model=loaded_list[0]
titles=loaded_list[1]
df=loaded_list[2]
books=loaded_list[3]

In [4]:
with open('books.pkl', "rb") as f:
    books_data = pickle.load(f)

In [5]:
book_data = pd.DataFrame(books_data)

In [6]:
book_data.head()

,title,author,ISBN,summary,image,cosine
0,Venus in the Blind Spot,Junji Ito,9781974715473,"A ""best of"" collection of creepy tales from Ei...",//images.leslibraires.ca/books/9781974715473/f...,"[6927, 164, 7410, 7513, 7032, 6604, 6930, 1219..."
1,Shadow and Bone,Leigh Bardugo,9781250027436,The Grishaverse will be coming to Netflix soon...,//images.leslibraires.ca/books/9781250027436/f...,"[10, 3, 17, 19, 15, 136, 4437, 54, 8246, 910, ..."
2,My Alcoholic Escape from Reality,Nagata Kabi,9781645059998,An emotional new diary comic from the award-wi...,//images.leslibraires.ca/books/9781645059998/f...,"[2146, 9852, 801, 1578, 9023, 7519, 1561, 7090..."
3,Siege and Storm,Leigh Bardugo,9781250044433,The Grishaverse will be coming to Netflix soon...,//images.leslibraires.ca/books/9781250044433/f...,"[1, 17, 10, 19, 15, 136, 5567, 4437, 910, 826,..."
4,For the Love of Men,Liz Plank,9781250757203,"A nonfiction investigation into masculinity,Fo...",//images.leslibraires.ca/books/9781250757203/f...,"[363, 9393, 1037, 927, 52, 2384, 6297, 1420, 2..."

In [7]:
books

,ISBN,title,author,image_url
0,0451168089,'Salem's Lot,Stephen King,http://images.amazon.com/images/P/0451168089.0...
1,0399143025,10 Lb. Penalty,Dick Francis,http://images.amazon.com/images/P/0399143025.0...
2,0307001164,101 Dalmatians,Justine Korman,http://images.amazon.com/images/P/0307001164.0...
3,0894803700,"14,000 Things to Be Happy About",Barbara Ann Kipfer,http://images.amazon.com/images/P/0894803700.0...
4,1551668300,16 Lighthouse Road,Debbie Macomber,http://images.amazon.com/images/P/1551668300.0...
...,...,...,...,...
5849,0449003787,"\O\"" Is for Outlaw""",SUE GRAFTON,http://images.amazon.com/images/P/0449003787.0...
5850,0393316041,"\Surely You're Joking, Mr. Feynman!\"": Adventu...",Richard P. Feynman,http://images.amazon.com/images/P/0393316041.0...
5851,0452281881,e,Matt Beaumont,http://images.amazon.com/images/P/0452281881.0...
5852,880781210X,iI Paradiso Degli Orchi,Daniel Pennac,http://images.amazon.com/images/P/880781210X.0...
5853,0060934719,stardust,Neil Gaiman,http://images.amazon.com/images/P/0060934719.0...

In [8]:
lst = books['title'].tolist()
lst1=book_data['title'].tolist()
lst2 = lst+lst1

In [9]:
titles = pd.DataFrame(lst2,columns=['title'])
titles.drop_duplicates(inplace=True,ignore_index=True)
titles.shape

(15640, 1)

In [10]:
titles

                                                 title
0                                         'Salem's Lot
1                                       10 Lb. Penalty
2                                       101 Dalmatians
3                      14,000 Things to Be Happy About
4                                   16 Lighthouse Road
...                                                ...
15635        Business Objectives New Edition: Workbook
15636  Business Objectives New Edition: Teacher's Book
15637             Business Opportunities: Student Book
15638                 Business Opportunities: Workbook
15639                     Wide Angle: Level 2 Workbook

[15640 rows x 1 columns]

In [11]:
with open('titles.pkl', 'wb') as f:
    pickle.dump(titles, f)